@if (!loginDisplay) {
<div>
    <p class="welcome">Bienvenidos a este ejemplo de Angular 18 integrado con MSAL para usar Azure AD B2C</p>
    <p>Este ejemplo demuestra cómo configurar MSAL Angular para iniciar sesión, cerrar sesión, proteger una ruta y obtener un token de acceso para un recurso protegido, como Microsoft Graph</p>
    <p>Logeate para ver la informacion de tu perfil!.</p>
</div>
}

@if (loginDisplay) {
<div>
    <p>Login correcto!</p>
    @if (userRole === 'doctor') {
    <p>Bienvenido Doctor!</p>
    <button mat-raised-button color="primary" routerLink="/doctor-dashboard">
        Ir al Panel de Doctor
    </button>
    }
    @if (userRole === 'paciente') {
    <p>Bienvenido Paciente!</p>
    <button mat-raised-button color="primary" routerLink="/patient-dashboard">
        Ir al Panel de Paciente
    </button>
    }
    <p>Solicita la información de tu perfil haciendo clic en Perfil</p>
</div>
}